/* Estilos para la barra de navegación */
.navbar {
    background-color: #333;
    color: #fff;
}

/* Estilos para las secciones */
.container {
    padding: 50px;
}

/* Otros estilos según tus preferencias */
